{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <section>
        <h1>Ay! this is the homepage :D</h1>
        <form action="disconnect" method="POST">
            <button>Déconnexion</button>
        </form>
    </section>
{% endblock %}