body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.login-container {

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box,
.login-box > form {
    display: flex;
    flex-flow: column wrap;
}

.login-box {
    background: teal;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}

.login-box > form > * {
    margin: 0.25rem;
}

.login-box > form > a {
    text-decoration: none;
    color: white;
}

.error-wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}